<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }</style>
</head>
<body class="bg-cover bg-center" style="background-image: url('../../assets/bg.jpg');">
    <div class="flex flex-col h-screen justify-between">
      <div class="pt-48 pb-24 px-6 text-center">
          <div class="flex justify-center items-center mb-3">
              <div class="w-10 h-10 bg-pink-600 mr-2"></div>
              <h1 class="text-6xl font-bold text-gray-800">Cash</h1>
          </div>
          <h2 class="text-6xl font-bold text-gray-800 mb-3">Back</h2>
          <h2 class="text-6xl font-bold text-gray-800">Serbia App</h2>
      </div>
        <div class="pb-10 px-6">
            <div class="flex justify-between space-x-4">
                <button class="bg-white text-gray-800 font-semibold py-3 px-6 border border-gray-400 rounded shadow w-1/2">
                    LOG IN
                </button>
                <button class="bg-black text-white font-semibold py-3 px-6 border border-gray-400 rounded shadow w-1/2">
                    REGISTER
                </button>
            </div>
        </div>
    </div>
</body>
</html>
